streamlit
chromadb
base64
apikey
langchain-community
langchain.llms
langchain_openai
langchain.text_splitter
langchain_community.vectorstores
langchain_community.document_loaders
langchain.chains
langchain.memory
langchain.prompts
PIL
